<body>
<div class="center">
  <mat-tab-group [selectedIndex]="active" (selectedIndexChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
      <span style="font-size: 22px">
        Add Credit Card
      </span>
      </ng-template>

      <!-- add credit card component -->
      <app-addcreditcard></app-addcreditcard>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
      <span style="font-size: 22px">
        Credit Cards
      </span>
      </ng-template>

      <!-- credit card queue component-->
      <app-creditcardqueue></app-creditcardqueue>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
      <span style="font-size: 22px">
        Countries
      </span>
      </ng-template>

      <!--banned countries component-->
      <app-bannedcountries></app-bannedcountries>

    </mat-tab>
  </mat-tab-group>

  <div id="footer"></div>
</div>
</body>
